Nhom2/xml-resources/web-service-references/Dichvu/wsdl/localhost_8080/WSNhom2/Dichvu.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Test/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Test/" name="Dichvu">
<types>
<xsd:schema>
<xsd:import namespace="http://Test/" schemaLocation="http://localhost:8080/WSNhom2/Dichvu?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="Tich">
<part name="parameters" element="tns:Tich" />
</message>
<message name="TichResponse">
<part name="parameters" element="tns:TichResponse" />
</message>
<message name="getNV">
<part name="parameters" element="tns:getNV" />
</message>
<message name="getNVResponse">
<part name="parameters" element="tns:getNVResponse" />
</message>
<portType name="Dichvu">
<operation name="hello">
<input wsam:Action="http://Test/Dichvu/helloRequest" message="tns:hello" />
<output wsam:Action="http://Test/Dichvu/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="Tich">
<input wsam:Action="http://Test/Dichvu/TichRequest" message="tns:Tich" />
<output wsam:Action="http://Test/Dichvu/TichResponse" message="tns:TichResponse" />
</operation>
<operation name="getNV">
<input wsam:Action="http://Test/Dichvu/getNVRequest" message="tns:getNV" />
<output wsam:Action="http://Test/Dichvu/getNVResponse" message="tns:getNVResponse" />
</operation>
</portType>
<binding name="DichvuPortBinding" type="tns:Dichvu">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Tich">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getNV">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Dichvu">
<port name="DichvuPort" binding="tns:DichvuPortBinding">
<soap:address location="http://localhost:8080/WSNhom2/Dichvu" />
</port>
</service>
</definitions>